{% extends "shop/base.html" %}

{% block content %}

<h2>Про Cosmetic Shop</h2>

<p>
    Cosmetic Shop — сучасний онлайн-магазин косметики,
    створений на Django.
</p>

<p>
    У магазині представлені популярні бренди:
    Nivea, Maybelline, L'Oréal, NYX,
    La Roche-Posay та інші.
</p>

<h3>Що є у проєкті?</h3>

<ul>
    <li>Список товарів</li>
    <li>Детальні сторінки товарів</li>
    <li>Категорії товарів</li>
    <li>Фото товарів</li>
    <li>Форма відгуків</li>
    <li>Авторизація користувачів</li>
    <li>Ролі менеджера та покупця</li>
    <li>Django ORM</li>
    <li>Templates та Static files</li>
</ul>

<h3>Наші переваги</h3>

<ul>
    <li>Якісна косметика</li>
    <li>Популярні бренди</li>
    <li>Швидка доставка</li>
    <li>Доступні ціни</li>
</ul>

{% endblock %}