{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">

    <title>Cosmetic Shop</title>

    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body>

    <h1>Магазин косметики</h1>

    <img
        src="{% static 'shop/images/cosmetic.jpg' %}"
        width="300"
        alt="Cosmetics"
    >

    <nav>

    <a href="/">Головна</a>

    <a href="/about/">Про магазин</a>

    <a href="/products/">Товари</a>

    <a href="/review/">Відгук</a>

    {% if user.is_authenticated %}

        <a href="/profile/">
            {{ user.username }}
        </a>

        <form
            action="{% url 'logout' %}"
            method="post"
            style="display:inline;"
        >

            {% csrf_token %}

            <button type="submit">
                Вийти
            </button>

        </form>

    {% else %}

        <a href="{% url 'login' %}">
            Увійти
        </a>

    {% endif %}

    </nav>

    <hr>

    {% block content %}
    {% endblock %}

    <script src="{% static 'shop/js/main.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>