{% extends "shop/base.html" %}

{% block content %}

<h2>Залишити відгук</h2>

<form method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Надіслати
    </button>

</form>

<hr>

<h2>Відгуки користувачів</h2>

{% for review in reviews %}

    <div class="product-card">

        <h3>{{ review.username }}</h3>

        <p>
            Оцінка: {{ review.rating }}/5
        </p>

        <p>
            {{ review.message }}
        </p>

    </div>

{% empty %}

    <p>Відгуків поки немає.</p>

{% endfor %}

{% endblock %}