{% load static %}

<div class="product-card">

    {% if product.image %}
        <img
            src="{{ product.image.url }}"
            alt="{{ product.title }}"
        >
    {% else %}
        <img
            src="{% static 'shop/images/cosmetic.jpg' %}"
            alt="Product"
        >
    {% endif %}

    <h3>{{ product.title }}</h3>

    <p>
        Бренд: {{ product.brand }}
    </p>

    <p>
        Категорія: {{ product.category }}
    </p>

    <p>
        Ціна: {{ product.price }} грн
    </p>

    <a href="{% url 'product_detail' product.pk %}">
        Детальніше
    </a>

</div>